.alert-custom{
    background-color:#6089D5;
    color:#fff;
  }
.code-wrapper{
    color: black;
}
.bg-primary {
    background-color: #2C3E50 !important;
}

.on-light pre {
    background: #001628;
}

pre[rel] {
    padding-top: 20px;
}

